$("#<%= params[:dom_id] %>").fadeOut();
$("#<%= params[:dom_id] %>").remove();

if($('.tasks').length == 0) {
    $('#task-list').html("<div class='well'><i class='icon-info-sign'></i> No task found </div>")
}